
// SCSS variables
$base_fonts: 16px;
$base_lineHeight: 1.35;
$base_fontFamily: 'Montserrat', sans-serif;


//COLORS
$color_grey: #ababab;
$color_dark: #1c1c1c;
$light_grey: #dedede;
$color_link: #15d1d1;

// BREAKPOINTS
// BREAKPOINTS
$breakpoint-xs: 376px;
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1199px;